## Build results
[Bb]in/
[Oo]bj/
out/

## Visual Studio & VS Code
.vs/
*.user
*.suo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Node & Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*

## Sensitive configs & Environment files
*.env
*.env.*
!*.env.example

## Documents & Heavy binary files
*.pdf

## OS files
.DS_Store
Thumbs.db
